{% load staticfiles %}
<html>
    <head>
        <title>GeePs Matlab License Center</title>
		<img src="{% static 'img/logo.jpg' %}" alt="Logo GeePs"/>
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    </head>
    <body>
		<div class="container">
			<div class="border border-dark">
				<h1>GeePs Matlab License Center</h1>
			</div>
			<br/>
			<div class="col-md-offset-5 col-md-2">
				<form method="post" action="/change-language">
					{% csrf_token %}
					<select class="form-control" name="language" onchange="this.form.submit()">
						<option value="fr">French</option>
						<option value="en" selected="selected">English</option>
					</select>
				</form>
			</div>
			<div class="content">		
				{% block content %}
				{% endblock %}
			</div>
		</div>
    </body>
	<script type="text/javascript" src="{% static 'js/main.js' %}"><script/>
</html>