{% load staticfiles %}
<html>
    <head>
        <title>Centre de Licence Matlab de GeePs</title>
		<img src="{% static 'img/logo.jpg' %}" alt="Logo GeePs"/>
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    </head>
    <body>
		<div class="container">
			<div class="border border-dark">
				<h1>Centre de Licence Matlab de GeePs</h1>
			</div>
			<br/>
			<div class="col-md-offset-5 col-md-2">
				<form method="post" action="/change-language">
					{% csrf_token %}
					<select class="form-control" name="language" onchange="this.form.submit()">
						<option value="fr" selected="selected">Français</option>
						<option value="en">Anglais</option>
					</select>
				</form>
			</div>	
			<div class="content">		
				{% block content %}
				{% endblock %}
			</div>
		</div>
    </body>
	<script type="text/javascript" src="{% static 'js/main.js' %}"><script/>
</html>